*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Times New Roman', Times, serif;
}
.header{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    position: static;
    height: 12vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.logo img{
    width: 80px;
    height: 45px;
}
.nav-menu-link{
    display: inline-block;
    padding: 0px 25px 0px 25px;
    font-size: 24px;
    font-weight: 600;
}
.nav-menu-link a{
    text-decoration: none;
    margin: 0 auto;
    color: black;
    position: relative;
    display: inline-block;
}
/*Animacion del nav-menu*/
.nav-menu-link a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ff0000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    }
.nav-menu-link a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.container{
    width: 90%;
    height: 90vh;
    margin: auto;
    display: grid;
    grid-template: repeat(20, 1fr) / repeat(20, 1fr);
}
.title{
    display: grid;
    font-family: 'Roboto', sans-serif;
    font-family: 'Times New Roman', Times, serif;
    grid-column: 1 / 10 ;
    grid-row: 2 / 4 ;
    margin: 0 auto;
}
.title h1{
    display: grid;
    float: left;
    color: rgb(0, 0, 0);
    position: relative;
    font-size: 4em;
}
.title h1 span{
    position: absolute;
    right: 0;
    width: 0;
    border-left: 0px solid #000;
    background-color: #fff;

    animation: maquina-escribir 2.5s normal;
}
@keyframes maquina-escribir{
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}
.banner{
    font-family: 'Roboto', sans-serif;
    grid-column: 1 / 10 ;
    grid-row: 6 / 8 ;
    font-size: 1.5em;
    text-align: justify;
    color: rgba(0, 0, 0, 0.9);
    font-style: italic;
}
.banner a {
    color: #ff0000;
    text-decoration: none;
}
.slider{
    grid-column: 11 / 21 ;
    grid-row: 2 / 11;

}
.slider{
    width: 100%;
    margin: 0 auto;
    overflow:hidden;
    height: 100%;
    box-shadow: 0 0px 5px 0.1px rgba(0, 0, 0, 0.1)
}
.slider ul{
    padding: 0;
    display: flex;
    width: 800%;
    height: 100%;

    animation: cambio 32s infinite alternate ease-in-out;
}
.slider li {
    list-style: none;
    width: 100%; 
}
.slider img{
    border:1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 100%;
    width: 100%;
    
}
@keyframes cambio {
    0% {margin-left: 0;}
    10% {margin-left: 0;} 

    12.5% {margin-left: -100%;}
    22.5% {margin-left: -100%;}

    25% {margin-left: -200%;}
    35% {margin-left: -200%;}

    37.5% {margin-left: -300%;}
    47.5% {margin-left: -300%;}

    50% {margin-left: -400%;}
    60% {margin-left: -400%;}

    62.5% {margin-left: -500%;}
    72.5% {margin-left: -500%;}

    75% {margin-left: -600%;}
    85% {margin-left: -600%;}

    87.5% {margin-left: -700%;}
    100% {margin-left: -700%;}
}

.setion-migracion{
    grid-column: 1 / 7 ;
    grid-row: 13 /20;
    background-color: rebeccapurple;
}
.setion-cultura{
    grid-column: 8 / 14 ;
    grid-row: 13 /20;
    background-color: rebeccapurple;
}
.setion-geografia{
    grid-column: 15 / 21 ;
    grid-row: 13 /20;
    background-color: rebeccapurple;
}